<hr>
<br>
<center><h3>STUDENTS INFORMATION</h3></center>
<br>
<hr>
<table class="table" bgcolor="#e2f9f9">
  <thead>
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>AGE</th>
      <th>GENDER</th>
    </tr>
  </thead>
  <tbody>
    {{#each students}}
    <tr>
      <th>{{this.id}}</th>
      <td>{{this.firstname}}</td>
      <td>{{this.lastname}}</td>
      <td>{{this.age}}</td>
      <td>{{this.gender}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>